.chat-screen {
  background-color: #abc1d1;
  height: 11000vh;
}

.chat-screen .alt-header {
  position: fixed;
  top: 0;
  background-color: #abc1d1;
}

.chat-screen .status-bar {
  background-color: #abc1d1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.main-chat {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.3s linear;
}

.chat__timestamp {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white;
  padding: 8px 15px;
  margin-bottom: 25px;
  font-size: 13px;
}

.message-row {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

@keyframes fadeInBubbleLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row .message__bubble {
  animation: fadeInBubbleLeft 0.3s linear;
}

.message-row--own {
  justify-content: flex-end;
}

@keyframes fadeInBubbleRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row--own .message__bubble {
  animation: fadeInBubbleRight 0.3s linear;
}

.message-row img {
  width: 40px;
  height: 40px;
  border-radius: 40%;
  margin-right: 12px;
  object-fit: cover;
}

.message__author {
  opacity: 0.8;
  font-size: 16px;
}

.message__info {
  margin-top: 8px;
  display: flex;
  align-items: flex-end;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.message__bubble {
  background-color: white;
  padding: 8px 10px;
  border-radius: 13px;
  font-size: 17px;
  border-top-left-radius: 0;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 13px;
  border-top-right-radius: 0;
}

.message__time {
  color: var(--text-grey);
  font-size: 12px;
  margin-left: 5px;
}

.message-row--own .message__time {
  margin-right: 5px;
}

.reply {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  background-color: white;
  padding: 5px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  transition: all 0.3s ease-in-out;
}

.reply input {
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  border: 1.5px solid var(--border-color);
  transition: transform 0.3s ease-in-out;
}

.reply__column:first-child {
  color: var(--text-grey);
  width: 10%;
}

.reply__column:last-child {
  width: 90%;
  /* display: flex;
  align-items: center; */
  position: relative;
}

.reply__column:last-child > i {
  position: absolute;
  right: 40px;
  color: var(--text-grey);
  right: 15px;
  top: 6px;
}

.reply button {
  width: 30px;
  height: 30px;
  border: none;
  position: absolute;
  border-radius: 50%;
  background-color: var(--yellow);
  right: -20px;
  top: 3.5px;
}

.reply .reply__column:first-child,
.reply .fa-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 89vw;
  transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
