#friends-display-link {
  background-color: #fafafa;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 10px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}

.friends-screen-main {
  padding: 0 var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
