#friends-display-link {
  background-color: #fafafa;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 10px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}

.friends-screen-main {
  padding: 0 var(--horizontal-space);
}

.friends-screen__category {
  border-top: 1px solid var(--border-color);
  padding-top: 15px;
}

.friends-screen__category-header {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 1s;
}
