.settings__setting {
  padding: 20px 0;
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: space-between;
}

.settings__setting:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.settings__setting-column:first-child i {
  margin-right: 20px;
  width: 25px;
  padding-left: 2px;
}

.settings__setting-column:last-child {
  color: var(--text-grey);
}

.settings-list__division-line {
  width: calc(100% + 24 * 2);
  margin: 24px 0 24px -24px;
}
