.alt-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px var(--horizontal-space) 15px;
  box-sizing: border-box;
  width: 100%;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:first-child {
  /* margin-right: auto; */
  display: flex;
  align-items: center;
}

.alt-header__column:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alt-header__column:last-child {
  /* margin-left: auto; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.alt-header__title {
  font-size: 25px;
  font-weight: 600;
}

.alt-header__column:last-child i {
  margin-left: 25px;
}
