.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 40px var(--horizontal-space) 15px;
  align-items: center;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span:not(.badge-dot) {
  margin-left: 25px;
  position: relative;
}
